@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@font-face {
  src: url(./../fonts/MYRIADPRO-REGULAR.woff);
  font-family: MyriadPro;
}
html, body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

h1, h2 {
  font-family: MyriadPro;
}

p, a {
  font-family: "Open Sans", sans-serif;
}

.error {
  color: red;
  font-size: 0.7em;
}

.main {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 15px solid #3498db;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .main {
    flex-direction: row;
  }
}
.main .map {
  flex: 2;
}
@media (min-width: 1550px) {
  .main .map {
    flex: 3;
  }
}
.main .restaurants {
  flex: 1;
  box-sizing: border-box;
  border-top: 10px solid #3498db;
  overflow-y: scroll;
}
.main .restaurants::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  transform: translateX(10px);
}
.main .restaurants::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  border: 5px solid black;
  transform: translateX(10px);
}
.main .restaurants::-webkit-scrollbar-thumb {
  background-color: #f8ce0b;
  transform: translateX(10px);
}
@media (min-width: 650px) {
  .main .restaurants {
    flex: 2;
  }
}
@media (min-width: 1000px) {
  .main .restaurants {
    border-top: none;
    border-left: 10px solid #3498db;
    flex: 1;
  }
}
@media (min-width: 1550px) {
  .main .restaurants {
    flex: 1;
  }
}
.main .restaurants .restaurants-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}
.main .restaurants .restaurants-container #loading-restaurants {
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
}
.main .restaurants .restaurants-container .filter {
  border-left: 5px solid #3498db;
  padding-left: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px 0px 5px 10px;
  font-family: MyriadPro;
}
.main .restaurants .restaurants-container .filter p {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
.main .restaurants .restaurants-container .filter .pointer {
  color: grey;
  cursor: pointer;
  font-size: 2.2em;
  margin: 0px 10px;
}
.main .restaurants .restaurants-container .filter label {
  font-size: 1.2em;
}
.main .restaurants .restaurants-container .filter .fa-star {
  font-size: 1.3em;
  color: #f8ce0b;
}
.main .restaurants .restaurants-container .restaurant {
  border-left: 5px solid #3498db;
  padding-left: 10px;
  display: flex;
  margin-bottom: 20px;
}
.main .restaurants .restaurants-container .restaurant .info {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .restaurants .restaurants-container .restaurant .info .info-container h1 {
  margin: 10px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.main .restaurants .restaurants-container .restaurant .info .info-container .outer-stars {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  margin-top: 8px;
  font-size: 1.7em;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.5);
}
.main .restaurants .restaurants-container .restaurant .info .info-container .outer-stars::before {
  content: "";
}
.main .restaurants .restaurants-container .restaurant .info .info-container .inner-stars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}
.main .restaurants .restaurants-container .restaurant .info .info-container .inner-stars::before {
  content: "";
  color: #f8ce0b;
}
.main .restaurants .restaurants-container .restaurant .info .info-container p {
  margin: 10px 0px;
  cursor: pointer;
  color: #3498db;
  font-size: 0.8em;
}
.main .restaurants .restaurants-container .restaurant .image {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .restaurants .restaurants-container .restaurant .image .image-container {
  width: 100%;
  max-width: 120px;
  max-height: 120px;
  background-image: url(https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=CmRaAAAAc8w2YVKmI-_ewAogDAWZehZEqpbl7chXCezgmq6BzwVoGOD0A3dNom0j_GMfwhK4iOzhvxs5Ex11b5oX4-y6C3A8Qrw1UDvH7EP7b8sOITEaTu3wu889_Dt5toqSdgo7EhDB1tgBnabIzIgq7kDKI-vYGhRpm7eVExOOdgIdBkvu3Fg-JvG2Mg&key=AIzaSyCm9kjnGPeQQepnDwcyhiiuGNUS_Xn_hfo);
  background-size: cover;
  background-position: center;
}
.main .restaurants .restaurants-container .restaurant .image .image-container:before {
  content: " ";
  padding: 50%;
  display: inline-block;
}
@media (min-width: 650px) {
  .main .restaurants .restaurants-container .restaurant .image .image-container {
    width: 60%;
  }
}
@media (min-width: 1000px) {
  .main .restaurants .restaurants-container .restaurant .image .image-container {
    width: 90%;
  }
}

.more-info {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 1000px) {
  .more-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.more-info:before {
  position: absolute;
  content: url(./../../media/gif/loading.gif);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.more-info .more-info-container {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
  border: 10px solid #3498db;
  box-sizing: border-box;
  overflow-y: scroll;
}
.more-info .more-info-container::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  transform: translateX(10px);
}
.more-info .more-info-container::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  border: 5px solid black;
  transform: translateX(10px);
}
.more-info .more-info-container::-webkit-scrollbar-thumb {
  background-color: #f8ce0b;
  transform: translateX(10px);
}
@media (min-width: 1000px) {
  .more-info .more-info-container {
    width: 80%;
    height: 80%;
  }
}
.more-info .more-info-container .info {
  padding: 10px 10px 15px 10px;
  overflow: auto;
  background-color: #3498db;
  color: #fff;
}
@media (min-width: 1000px) {
  .more-info .more-info-container .info {
    padding: 20px 20px 25px 20px;
  }
}
.more-info .more-info-container .info h1 {
  margin: 0;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.more-info .more-info-container .info .outer-stars {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  margin-top: 8px;
  font-size: 1.7em;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.5);
}
.more-info .more-info-container .info .outer-stars::before {
  content: "";
}
.more-info .more-info-container .info .inner-stars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}
.more-info .more-info-container .info .inner-stars::before {
  content: "";
  color: #f8ce0b;
}
.more-info .more-info-container .info .outer-stars {
  margin-top: 0;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.5);
}
.more-info .more-info-container .info p, .more-info .more-info-container .info a {
  color: #FFF;
  margin: 20px 0px;
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: 2px;
  font-weight: bold;
}
.more-info .more-info-container .info a {
  text-decoration: none;
}
.more-info .more-info-container .info i {
  margin-right: 15px;
  font-size: 1.8em;
  width: 10px;
}
.more-info .more-info-container .info #close-more-info {
  text-transform: uppercase;
  margin: 0px 0px 8px 0px;
  cursor: pointer;
  background-color: #e74c3c;
  border-radius: 4px;
  padding: 3px;
  width: 50px;
  text-align: center;
  font-weight: bold;
}
.more-info .more-info-container .reviews {
  padding: 10px;
  box-sizing: border-box;
}
@media (min-width: 1000px) {
  .more-info .more-info-container .reviews {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
  }
}
@media (min-width: 1000px) {
  .more-info .more-info-container .reviews form {
    flex: 2;
  }
}
.more-info .more-info-container .reviews form h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 5px;
}
.more-info .more-info-container .reviews form #new-review-name, .more-info .more-info-container .reviews form #new-review-review {
  width: 100%;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border: none;
  box-shadow: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  margin-bottom: 10px;
  padding: 5px;
}
.more-info .more-info-container .reviews form i {
  color: #f8ce0b;
  font-size: 1.3em;
  margin-right: 3px;
}
.more-info .more-info-container .reviews form .form-row {
  display: flex;
  justify-content: space-between;
}
.more-info .more-info-container .reviews form .form-row #new-review-submit {
  background-color: #f0f0f0;
  border: none;
  box-shadow: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}
.more-info .more-info-container .reviews form .form-row .rating {
  display: flex;
  align-items: center;
  height: 30px;
}
.more-info .more-info-container .reviews form .form-row .rating #new-review-rating {
  background-color: #f0f0f0;
  border: none;
  box-shadow: none;
  padding: 5px;
}
.more-info .more-info-container .reviews .reviews-container {
  margin-top: 30px;
}
@media (min-width: 1000px) {
  .more-info .more-info-container .reviews .reviews-container {
    flex: 5;
    margin-top: 0;
    padding-right: 50px;
  }
}
@media (min-width: 1550px) {
  .more-info .more-info-container .reviews .reviews-container {
    flex: 3;
  }
}
.more-info .more-info-container .reviews .reviews-container h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 5px;
}
.more-info .more-info-container .reviews .reviews-container .review {
  margin-bottom: 20px;
}
.more-info .more-info-container .reviews .reviews-container .review .author {
  display: flex;
  align-items: center;
}
.more-info .more-info-container .reviews .reviews-container .review .author .profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-right: 10px;
  background-position: center;
  background-size: cover;
}
.more-info .more-info-container .reviews .reviews-container .review .author h2 {
  margin: 0;
  font-size: 1em;
}
.more-info .more-info-container .reviews .reviews-container .review .outer-stars {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  margin-top: 8px;
  font-size: 1.7em;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.5);
}
.more-info .more-info-container .reviews .reviews-container .review .outer-stars::before {
  content: "";
}
.more-info .more-info-container .reviews .reviews-container .review .inner-stars {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
}
.more-info .more-info-container .reviews .reviews-container .review .inner-stars::before {
  content: "";
  color: #f8ce0b;
}
.more-info .more-info-container .reviews .reviews-container .review p {
  font-size: 0.8em;
}

.add-restaurant {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-restaurant .add-restaurant-container {
  border: 10px solid #3498db;
  background-color: #FFF;
  overflow: auto;
}
.add-restaurant .add-restaurant-container .header {
  background-color: #3498db;
  overflow: auto;
}
.add-restaurant .add-restaurant-container .header #close-add-restaurant {
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
  background-color: #e74c3c;
  border-radius: 4px;
  padding: 3px;
  width: 50px;
  text-align: center;
  font-size: 0.7em;
  letter-spacing: 2px;
  font-weight: bold;
}
.add-restaurant .add-restaurant-container .header h1 {
  margin: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}
.add-restaurant .add-restaurant-container form {
  padding: 5px;
}
.add-restaurant .add-restaurant-container form input {
  width: 100%;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border: none;
  box-shadow: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  margin-bottom: 10px;
  padding: 5px;
}
.add-restaurant .add-restaurant-container form #add-restaurant-submit {
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
